#backround_image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1519508234439-4f23643125c1?q=80&w=1796&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50rem;
}
#img_heading{
    text-align: center;
    color: white;
    margin-top: 15rem;
    font-size: 5rem;
}
h1{
    margin-top: 5rem;
    text-align: center;
    font-size: 4rem;
}
.field{
    text-align: center;
    margin: 2rem;
}
button{
    text-align: center;
}
